<?xml version="1.0"?>
<!--
/**
 * Diazwatson_CronProfiles
 *
 * @category    CronProfiles
 * @package     Diazwatson_CronProfiles
 * @Date        01/2015
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 * @author      @diazwatson
 */-->
<config>
    <tabs>
        <cronprofiles translate="label" module="cronprofiles">
            <label>Cron Profiles</label>
            <sort_order>250</sort_order>
        </cronprofiles>
    </tabs>
    <sections>
        <cronprofiles translate="label" module="cronprofiles">
            <class>separator-top</class>
            <label>Cron Profiles</label>
            <tab>cronprofiles</tab>
            <frontend_type>text</frontend_type>
            <sort_order>40</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="cronprofiles">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                        </enabled>
                        <profile_ids translate="label comment">
                            <label>Profile Ids</label>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Profile Ids separated by (,)<br /><strong>Example:</strong> 1,2,3,4]]></comment>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </profile_ids>
                        <cron_syntax translate="label comment">
                            <label>Cron Expresion</label>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Interval of time data flow profiles will be executed. <br/><strong>Example:</strong> 0 0 * * * * <br/>(will be executed every day at midnight).]]></comment>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </cron_syntax>
                        <disable_index translate="label comment">
                            <label>Disable Index</label>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Very recommended specially if you are loading catalog products.]]></comment>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </disable_index>
                    </fields>
                </general>
            </groups>
        </cronprofiles>
    </sections>

</config>